.logo_text{
/* position: relative; */
width: 263px;

padding-top:4vh;
display: block; 
margin: 0px auto;
}

.logo_text img{
    width : 100%;
    height : 100%;
    display : flex;
    object-fit:cover;
  }

.login_form_container {
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	
	/* align-items: center; */
	text-align: center;
	vertical-align: middle;
    margin-top : 5vh;
}



.login_form_wrap {
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	width: 520px;
    /* height: max(65vh,520px); */
    padding-top : max(5vh,80px);
    padding-bottom : max(15vh,120px);
	/* align-items: center; */
	text-align: center;
	vertical-align: middle;
    background: url(../img/login/login_background.png) no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.login_user_icon_wrap {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: #3A5D93;
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	text-align: center;
	vertical-align: middle;
    margin-bottom : -25px;
    margin-top : -25px;
}


.login_user_icon {
    width: 40px;
    height: 40px;
    /* border-radius: 100%; */
}


.login_user_icon img{
    width : 100%;
    height : 100%;
    display : flex;
    object-fit:cover;
  }

.login_container{
/* position: relative; */
width: 350px;
/* height: max(30vh,300px); */
display: flex; 
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
vertical-align: middle;
/* justify-content: space-between; */
/* margin: 30px auto; */
background : rgba(255,255,255, .6);
border-radius: 15px;
}

.login {
    margin-top : 30px;
    height : 200px;
    display: flex; 

     align-items: center;

    flex-direction: column;

}

.find_page_title {
    margin-bottom : 15px;
    font-size : 1.25rem;
}

.find_page {
    margin-top : 30px;
    height : 200px;
    display: flex; 
    justify-content:end;
     align-items: center;

    flex-direction: column;

}


.non_id{
/* position: absolute; */
/* width: 100%; */
/* height: 28px; */
/* left: calc(50% - 384px/2); */
/* top: 134px; */

/* background: #FA7777; */
/* border-radius: 20px; */

/* padding-top: 10px; */
/* padding-left: 15px; */
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 1rem;
line-height: 14px;
color: #FFFFFF;
}

/* 아이디 비밀번호 입력칸 */
.login_input_wrap {
    display : flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: row;
	text-align: center;
	vertical-align: middle;
    color : white;
    align-items: center;
}

/* 입력칸 제목 */
.input_title {
    width : 50px;
    height: 50px;
    /* justify-content: center; */
    background-color: #3A5D93;
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
	text-align: center;
    vertical-align: middle;
}

.input_title div{
    width : 25px;
    height: 25px;
}

.input_title img{
    width : 100%;
    height : 100%;
    display : flex;
    object-fit:cover;
}

.login_input{
    font-family: 'Noto Sans KR',sans-serif,'NanumGothic', 'serif';
 
   /* position: absolute; */
/* width: 364px; */
height: 50px;
/* left: calc(50% - 384px/2); */
    border: none;
    background: #6792cb;
/* border-radius: 20px; */
    padding: 0px 10px;
    outline: none;
    color : white;
}

.login_input {
    margin : 15px auto;
}

.login_input::-webkit-input-placeholder { 
    color : white;
}

.find_join {
    margin-top : 20px;
}


/* 로그인 제출 버튼 */


.submit_button {
    width: 50px;
    height: 50px;
    background : rgba(255,255,255, .6);
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 100%;

    position: relative;
    bottom : min(-10vh,-80px);
}

.submit_button_text {
    /* width: 50px; */
    height: 50px;
    background :#3A5D93;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */

    /* border-radius: 100%; */

    font-weight: 500;

    cursor: pointer;
    position: relative;
    bottom : min(-10vh,-80px);
    width : 80%;
}

.next{
	/* position: relative; */
width: 30px;
height: 30px;
}

.next_text_button {
    width : 100%;
    height : 100%;
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    border : none;
    font-weight: 500;

    text-align: center;
    color : white;
    font-size : 1rem;
    /* font-style: bold; */
}

/* 아이디 비번 찾기, 회원가입 */
.find{
	/* position: absolute; */
/* width: 160px; */
/* height: 20px; */

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 0.9rem;

/* line-height: 20px; */
text-align: center;

color: #FFFFFF;

}

.join {
    color: #3a5d93;
}


/* 회원가입 페이지 */
.join_form_wrap {
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	width: 550px;
    padding-top : max(5vh,80px);
    padding-bottom : max(15vh,120px);
    
    /* height: max(65vh,520px); */
	/* align-items: center; */
	text-align: center;
	vertical-align: middle;
    background: url(../img/login/login_background.png) no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.join_page {
    margin-top : 30px;
    /* height : 200px; */
    display: flex; 

     /* align-items: center; */

    flex-direction: column;
    justify-content:flex-start;
}

.join_container{
    /* position: relative; */
    width: 400px;
    /* height: max(30vh,300px); */
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    vertical-align: middle;
    /* justify-content: space-between; */
    /* margin: 30px auto; */
    background : rgba(255,255,255, .6);
    border-radius: 15px;
}



/* 회원가입 아이디 비밀번호 이메일 등 입력칸 */

.join_input_container {
    display : flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
	text-align: center;
	vertical-align: middle;
    color : white;
    /* align-items: center; */
}

.join_input_wrap {
    display : flex;
    
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: row;
	text-align: center;
	vertical-align: middle;
    color : white;
    align-items: center;
}

.join_input{
    font-family: 'Noto Sans KR',sans-serif,'NanumGothic', 'serif';
 
   /* position: absolute; */
/* width: 364px; */
height: 40px;
/* left: calc(50% - 384px/2); */
    border: none;
    /* border-bottom : 1px solid grey; */
    /* background: #6792cb; */
    background: transparent;
/* border-radius: 20px; */
    padding: 0px 10px;
    outline: none;
    color : grey;
}

.join_input_not_btn {
    /* flex : 1 1 0; */
    font-family: 'Noto Sans KR',sans-serif,'NanumGothic', 'serif';
    height: 40px;
    width : 100%;
     border: none;
    
     /* background: #6792cb; */
     background: transparent;
     padding: 0px 10px;
     outline: none;
     color : grey;
     /* border-bottom : 1px solid grey; */
}

.join_input, 
.join_input_not_btn[type="password"], 
.join_input_not_btn[type="text"] {
    margin : 10px auto;
    border-bottom : 1px solid grey;
}

.join_input::-webkit-input-placeholder,
.join_input_not_btn::-webkit-input-placeholder { 
    color : grey;
}

.member_join_pw{
    /* position: absolute; */
    /* width: 100%; */
    
    border: none;
    outline: none;
    /* background: transparent; */
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    
}




.other{
/* position: absolute; */
height: 0px;
    left: calc(49% - 384px/2);
top: 528px;


font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
text-align: center;

color: #FFFFFF;

}
.google{
/* position: absolute; */
width: 48px;
height: 48px;
left: 5px;
top: 4px;
}
.google_login{
/* position: absolute; */
width: 384px;
height: 43px;
    left: calc(50% - 384px/2);
top: 556px;

background: #FFFFFF;
border-radius: 20px;
padding-top:13px;
  text-align : center;
  
  font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;

color: #030303;
}

/* 아이디 / 비밀번호 찾기 */
.find_title {
    font-size : 0.8rem;
    text-align: left;
}

.find_input {
    width : 260px;
}

.find a {
    color : white;
    background-color: transparent;
    transition-duration : 0.5s;
    transition-timing-function: ease;

    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
}

.find a:hover {
    color : #83a1dd;
}


.re_check{
	/* position: absolute; */
/* width: 78px; */
height: 40px;

opacity: 0.46;
border-radius: 10px;
background-color: #3a5d93;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 0.8rem;

display: flex;
align-items: center;
justify-content: center;
text-align: center;
/* padding:auto 5px; */
color: #FFFFFF;
}

.re_check p {
    margin: auto 10px;
}

/* .memberjoin_btn{
	position: absolute;
width: 406px;
height: 50px;
left: 100px;
top: 518px;

background: linear-gradient(180deg, #34A8EA 0%, #3482EA 100%);
border-radius: 5px;
border:0;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;
text-align: center;

color: #FFFFFF;


} */
/* p#result{
	position: relative;
width: auto;
height: 20px;
left: 105px;
top: 210px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;

color: #3482EA;

} */
p.result_style{

width: auto;
height: 20px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 0.8rem;

display: flex;
align-items: center;

color: #3482EA;
}
.pwrepl{
    /* position: absolute; */
    width: auto;
    height: 20px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    color: #3482EA;
}





@media screen and (min-width:1024px) {
	/* Desktop */

}
@media screen and (min-width:768px) and (max-width: 1023px) {
	/* Tablet */
    .logo_text {width : 250px;}
    
}
@media screen and (max-width:767px){ 
    .logo_text {width : 250px;}
    .login_form_wrap {width : 90%;}
    .join_form_wrap {width : 90%;}
    .join_container {width : 350px;}
}