
.now_pw{
position: relative;
width: 150px;
height: 30px;
left: 78px;
top: 97px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;
display: flex;
align-items: center;

color: #030303;
margin-bottom:10px;
}

.pw_boxs{

width : 100%;
padding:10px;
background: transparent;
border: 1px solid white;
outline: none;
color : white;
font-size : 1rem;
}

.pw_boxs::-webkit-input-placeholder { 
    color : white;
}

.nick_box {
    width : 100%;
    padding:10px;
    background: transparent;
    border: none;
    outline: none;
    color : white;
    font-size : 1rem;
}

.nick_box::-webkit-input-placeholder { 
    color : white;
}


/* 입력칸 */
.pwre_container {
	display : flex;
	flex-direction: column;
	margin-top : 5%;
}


.pwre_wrap {
	display : flex;
	flex-direction: row;
	align-items:flex-start;
	margin-top : 3vh;
}


/* 수정하기, 취소하기 버튼 */
.mypage_pwre_button_wrap {
    margin-top : 3vh;
    display: flex;
    flex-direction: row;
	align-items:flex-start;
    justify-content: flex-end;
}

.mypage_pwre_button{
    height: 30px;
    border:none;
    border-radius: 5px;
    background:   rgba(255,255,255,.2);
    padding : 0 20px;
    color:white;
    margin-top : 2vh;
   }
  
   .mypage_pwre_button:not(:last-child) {
      margin-right : max(2vw, 15px);
   }
  


   
@media screen and (min-width:1024px) {
	/* Desktop */

}
@media screen and (min-width:768px) and (max-width: 1023px) {
	/* Tablet */
    .pw_boxs, .nick_box {font-size : .8rem;}
    
}

@media screen and (max-width:767px){ 
	/* Mobile */
    .pw_boxs, .nick_box {font-size : .8rem;}
}